/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
 
  text-align:center ;
  margin: 0 auto;
  display: block;
  background-color: #eae2b7;
  color: ##003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Set the font family for any h1, h2, or h3 heading */

h1,{text-align:center;} {display: block; margin: 0 auto;}
h2,{text-align:center;}
h3 {text-align: center;
  font-family: "Playfair Display", Times, serif;
}

article {
  padding: 50px 0;
}

article div {
  
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}
#social {
  width:60px;
  margin:10px;
 margin-left:70px;
}
.image-circle {
  display: block; 
  margin: 20px auto; /* Centers the image horizontally by setting equal margins */
  border-radius: 50%; /* Makes the image circular */
  border: 2px solid #003049; /* Adds a 2px border with the specified color */
  width: 200px; /* Sets the width of the image */
  height: 200px; /* Sets the height of the image to match the width */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}


hr {
  border: 1px solid #0a0a0a;
}

/* Add your solution below */
header{text-align: center;
       a:link { color: #d62828; }
       a:hover { color: #f77f00; }
      }
footer{text-align: center;
  }

h2 {font-size: 40px;;
   }
h3 {font-size: 30px;
   }
h2 { 
  font-family: "Playfair Display", Times, serif;
}